@mixin flex-column {
    display: flex;
    flex-direction: column;
}
  
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}
  
@mixin flex-center-vert {
    display: flex;
    align-items: center;
}
  
@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .HotspotAnnotation {
        transform: scale(0.8); 
        transform-origin: left top; 
        font-size: 16px; 
        max-width: 200px; 
        padding: 0.4em 0.8em; 
    }
}

@media (max-width: 375px) {
    .HotspotAnnotation {
        transform: scale(0.6); 
        font-size: 14px; 
        max-width: 160px; 
        padding: 0.3em 0.6em; 
    }
}