@use '../abstracts' as a;

#full-header {
   position: fixed;      
   top: 0;               
   left: 0;              
   width: 100%;         
   z-index: 1000;        
   background: #232323;  
 }

 body {
   margin-top: 100px;     
 }

/* Menu Icon  */
#menu {
  text-align: right;
}

#menu img {
  width: 40px;
  transition: transform 0.3s ease; 
}

/* Logo */
#logo img {
  width: 130px;
}

/* Sidebar Menu  */
#sidebar-menu {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 100vh;
  background-color: #232323;
  transition: right 0.3s ease; 
}

#sidebar-menu.active {
  right: 0; 
}

#sidebar-menu li {
  list-style: none;
  text-align: left;
  padding: 24px;
}

#sidebar-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 64px;
  
  display: block; 
}

#sidebar-menu li a:hover {
  background-color: #ffffff;
  color: #212121;
  border-radius: 20px;
}

/* Topbar Menu  */
#topbar-menu {
  display: none; 
}

@media screen and (min-width: 768px) {
  #menu {
    display: none; 
  }

  #header-long {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #topbar-menu {
    display: flex;
    padding: 16px;
  }

  #topbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  #topbar-menu li {
    list-style: none;
  }

  #topbar-menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 32px;
  }

  #topbar-menu li a:hover {
    background-color: white;
    color: #212121;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {

}
