/* Section 基本樣式 */
.info{
    background-color: #fff8f2;     /* 背景顏色 */
    margin-bottom: 40px;
}

.features-section {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;       
    gap: 20px;                     
    padding: 40px;                
    
  }
  
  .feature-card {
    background-color: #fff;        
    border-radius: 16px;           
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;                 
    text-align: center;            
    flex: 1;                       
    opacity: 0; 
    transform: translateY(-50px); 
    transition: all 0.5s ease; 
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;       
    align-items: center;           
    width: 80px;                   
    height: 80px;
    margin: 0 auto 20px;           
    border-radius: 50%;            
    background-color: #fde8d7;     
  }

  .feature-card h3 {
    font-size: 18px;               
    font-weight: bold;            
    color: #803901;                
    margin: 16px 0;                
  }
  
  .feature-card p {
    font-size: 14px;               
    color: #333;                  
    line-height: 1.6;             
    text-align: left;
  }
  
  @media (max-width: 480px) {
    .tech-specs {
      grid-template-columns: 1fr; 
      gap: 20px;
    }
  
    .image-box,
    .text-box {
      grid-column: span 12;
    }
  
    .text-box {
      height: auto; 
    }
  }