/* Tech Specs Section */
.tech-specs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
    padding-bottom: 60px;
  }

.title-tech{
    color: #803901;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-box{
    opacity: 0; 
    transform: translateX(0); 
    transition: opacity 0.3s ease, transform 0.5s ease;
}
  
  .image-box img {
    display: block;
    width: 100%; 
    height: auto;
    border-radius: 24px; 
  }
  
.text-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff7ef; 
    border-radius: 24px; 
    aspect-ratio: 1; 
    opacity: 0; 
    transform: translateX(0); 
    transition: opacity 0.3s ease, transform 0.5s ease;
  }
  
  .text-content {
    text-align: left;
  }
  
  .time {
    margin-bottom: 20px; 
  }
  
  .time:last-child {
    margin-bottom: 0;
  }
  
  .time-value {
    font-size: 48px; 
    font-weight: 700; 
    color: #8c4413; 
  }
  
  .time-unit {
    font-size: 16px; 
    font-weight: 400; 
    color: #8c4413;
  }
  
  .time p {
    font-size: 20px; 
    font-weight: 400;
    color: #333; 
    margin: 5px 0 0 0; 
    line-height: 1.5; 
  }
  

  @media (max-width: 768px) {
  .tech-specs {
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .image-box,
  .text-box {
    grid-column: span 12;
  }

  .text-box {
    height: auto; 
  }
}

  